* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    
}
header {
    width: 100%;
    height: 100px;
    background: white;
    box-shadow: 0px 2px 2px #c7c7c730;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-container {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;

}
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #c7c7c770 solid 1px;

}
.menu {
    width: 75%;
    height: 65px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 8fr 3fr;
    grid-template-rows: 1fr;
    
}
.left-menu {
    width: auto;
    display: grid;
    justify-content: left;
    align-items: center;
    grid-template-columns: 2fr 13fr 7fr 9fr 8fr 6fr 6fr 15fr;
    grid-row: 1fr;
    font-weight: bold;
    font-size: 1.1rem;

}
.right-menu {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    font-weight: bold;

}
.badge-container {
    width: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}
.badge.lol {
    grid-column: 1/8;
    grid-row: 1;
    z-index: 3;
    
}
.badge.win {
    grid-column: 7/15;
    grid-row: 1;
    z-index: 2;

}
.badge.trending {
    grid-column: 14/22;
    grid-row: 1;
    z-index: 1;


}
.badge {
    -webkit-filter: drop-shadow(1px 1px 0px #c7c7c790);
    filter:         drop-shadow(1px 1px 0px #c7c7c790)

}
.popular-links {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.pop {
    margin: 10px;
}
.buzzfeed {
    color: red;
    font-weight: 800;
    font-size: 2rem;
    pointer-events: none;

}
button {
    background: transparent;
    border: blue solid 1px;
    padding: none;
    margin: auto;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container {
    height: auto;
    width: 75%;
    display: grid;
    justify-content: center;
    align-items: top;
    grid-template-columns: 4fr 2fr;
    border: red solid px;

}

.left-main {
    height: fit-content;
    width: 100%;
    display: grid;
    align-items: top;
    grid-template-rows: 3fr 2fr;
    border: blue solid px;
    
}
.main-article {
    height: fit-content;
    width: fit-content;
    border: #c7c7c760 solid 1px;
    box-shadow: 0px 1px 1px #c7c7c730;
    margin: 5px;
    border-radius: 4px;
    background: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
}

.small-article {
    height: fit-content;
    width: auto;
    border: #c7c7c760 solid 1px;
    box-shadow: 0px 1px 1px #c7c7c730;
    margin: 5px;
    border-radius: 4px;
    background: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}
.small-article-text {
    grid-template-columns: 1fr;
    grid-row: 2fr 2fr 1fr;
}
.author-info {
    padding: 0px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    pointer-events: none;
}
.right-main {
    height: auto;
    width: auto;
    display: grid;
    align-items: top;
    grid-template-rows: 2fr 4fr;
    border: blue solid px;

}
.news {
    height: fit-content;
    width: auto;
    border: #c7c7c760 solid 1px;
    border-top: black solid 8px;
    box-shadow: 0px 1px 1px #c7c7c730;
    margin: 5px 5px 10px 15px;
    border-radius: 4px;
    padding: 0px 15px;
    background: white;
    color: black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 28% 29% 28%;


}
.news-link {
    font-size: .9rem;
}
.advert {
    height: fit-content;
    width: auto;
    border: #c7c7c760 solid 1px;
    box-shadow: 0px 1px 1px #c7c7c730;
    margin: 10px 5px 5px 15px;
    border-radius: 4px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover {
    color: rgb(37, 77, 255);
}
h1 {
    padding: 0px 30px;
    font-size: 2.5rem;
    font-weight: 800;
}
h2 {
    padding: 0px 20px;
    font-size: 1.6em;
    font-weight: 600;
}
h3 {
    padding: 0px 20px;
    font-size: 1em;
    font-weight: 400;
}
h4 {
    font-family: 'PT Serif', serif;
    font-size: 1.4rem;
    font-weight: bold;
}
h5 {
    font-size: .9rem;
    font-weight: 300;
}